.site-branding img, .site-branding .site-title {
    float: left;
}

.site-title {
    color: #333;
    margin-left: 8px;
}

a:hover {
    opacity: 0.8;
}

a:hover .site-title {
    opacity: 0.95;
}

.site-title-cn {
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 4.5px;
    line-height: 1.3em;
}

.site-title-en {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.3em;
    text-transform: uppercase;
}

.tp-caption.slogan {
    color: #eee;
    font-size: 60px;
    font-weight: 600;
    letter-spacing: 2px;
    text-shadow: 0 0 10px #800;
}

.tp-caption.slogan-1 {
    margin-bottom: 68px;
}

.tp-caption.slogan-2 {
    margin-top: 68px;
}

.tparrows {
    display: none;
}

.mb-2 {
    color: #666;
    text-align: justify;
}

.mb-2 ol {
    margin-left: 30px;
    margin-bottom: 1.5em;
}

.mb-2 p.subtitle {
    color: #222;
    font-size: 20px;
    margin: 50px 0 10px;
}

.mb-2 p.subtitle:first-child {
    margin-top: 0;
}

.commerce table.shop_attributes td {
    font-style: normal;
}

.commerce table.shop_attributes th {
    width: 240px;
}

.site-footer .widget img {
    margin: 0;
}

.site-footer .widget-title-iso {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    margin: 10px 0;
    text-align: center;
}

.site-footer .widget-title-iso-img {
    text-align: center;
}

.site-footer .widget-title-iso-img img {
    height: 100px;
}

.site-footer .widget-title-iso-small {
    color: #ddd;
    font-size: 18px;
    font-weight: 400;
    margin: 5px 0 10px;
    text-align: center;
}

.site-footer .widget .site-title {
    color: #ddd;
}
