            <footer class="site-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-sm-6">
                            <div class="widget">
                                <a href="/" class="site-branding">
                                    <img src="/images/logo_footer.svg" width="88" height="60" alt="{{ site.title }}"/>
                                    <div class="site-title">
                                        <div class="site-title-cn">{{ site.title_cn }}</div>
                                        <div class="site-title-en">{{ site.title }}</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="widget">
                                <h3 class="widget-title"><span>Kulai Headquarter</span></h3>
                                <div class="textwidget">
                                    <p><i class="fa fa-map-marker"></i> &nbsp; {{ site.address1 }}<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ site.address2 }}</p>
                                    <p><i class="fa fa-phone"></i>  &nbsp; {{ site.phone }}</p>
                                    <p><i class="fa fa-fax"></i>  &nbsp; {{ site.fax }}</p>
                                    <p><i class="fa fa-envelope"></i>  &nbsp; <a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <div class="copyright">
                <div class="container">
                    <div class="row middle">
                        <div class="col-md-12 end-md end-lg center">
                            Copyright &copy; 2017 {{ site.title }}. All Rights Reserved.
                        </div>
                    </div>
                </div>
            </div>
