<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
        <link rel="shortcut icon" href="/images/favicon.png" />
        <title>{{ site.title }}{% if page.title %} - {{ page.title }}{% endif %}</title>
        {% include stylesheet.html %}
        <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic" rel="stylesheet" type="text/css" />
        <link href="//fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900" rel="stylesheet" type="text/css" />
        <link href="//fonts.googleapis.com/css?family=Droid+Serif:400,700" rel="stylesheet" type="text/css" />
        <link href="//fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css" />

        <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/images/apple-icon-57x57.png" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/apple-icon-72x72.png" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/apple-icon-114x114.png" />
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/apple-icon-144x144.png" />

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body class="header01">
        <div id="loading">
            <div id="loading-center">
                <div id="loading-center-absolute">
                    <div class="loader">Loading...</div>
                </div>
            </div>
        </div>
        {% include nav-mobile.html navs=site.data.navigation %}
        <div id="page" class="site">
            <header class="site-header">
                <nav id="site-navigation" class="main-navigation">
                    <div class="main-menu">
                        <div class="container">
                            <div class="row middle">
                                <div class="col-md-6 col-xs-11 site-branding">
                                    <a href="/">
                                        <img src="/images/logo.svg" width="88" height="60" alt="{{ site.title }}" />
                                        <div class="site-title">
                                            <div class="site-title-cn">{{ site.title_cn }}</div>
                                            <div class="site-title-en">{{ site.title }}</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-xs-1 hidden-md hidden-lg end">
                                    <i id="open-left" class="fa fa-navicon"></i>
                                </div>
                                <div class="col-md-6 hidden-xs hidden-sm nav-left">
        {% include nav-main.html navs=site.data.navigation %}
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
                <!-- #site-navigation -->
            </header>
            <div class="site-content">
                {{ content }}
            </div>
        {% include footer.html %}
        </div>
        <a class="scrollup"><i class="fa fa-angle-up"></i></a>

        {% include javascript.html %}
    </body>
</html>
